<nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <div class="text-lg font-bold">
    <a href="/movielist" class="hover:text-red-500">Movie App</a>
  </div>
  <ul class="flex space-x-6">
    <li><a href="/rented" class="hover:text-red-500">Rented</a></li>
    <li><a href="/" class="hover:text-red-500">Logout</a></li>
  </ul>
</nav>

<!-- <div class="relative mt-4">
  <input
    matInput
    [(ngModel)]="searchTerm"
    [matAutocomplete]="auto"

    placeholder="Search for a genre"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectMovie(movie)">
    <mat-option *ngFor="let movie of filteredMovies" [value]="movie">
      {{ movie.name }}
    </mat-option>
  </mat-autocomplete>
</div> -->
<div class="w-full flex justify-center mt-4">
  <div class="w-full max-w-6xl">
    <app-carousel></app-carousel>
  </div>
</div>

<div class="relative mt-4">

  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onSearchTermChange()"
    class="bg-gray-800 text-white p-2 rounded-md w-48 ml-4"
    placeholder="Search Genre..."
  />
  <ul *ngIf="searchTerm && filteredMovies.length > 0" class="absolute bg-gray-700 text-white w-60 mt-2 p-2 rounded-md shadow-lg max-h-48 overflow-y-auto z-10">
    <li *ngFor="let movie of filteredMovies" class="hover:bg-red-600 p-2 cursor-pointer" (click)="selectMovie(movie)">
      {{movie.name}}
    </li>
  </ul>
</div>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 p-4">
  <app-card
    *ngFor="let movie of (filteredMovies.length?filteredMovies:movies)"
    [image_url]="movie.image_url"
    [title]="movie.name"
    [director]="movie.director"
    [cast]="movie.cast"
    [description]="movie.description"

    [endDate]="movie.end_date"
    [movieId]="movie._id" 
    [isAvailable]="movie.availability"  


  ></app-card>
</div>
