#demo {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;          /* Make the text bold */
    color: #555555;             /* Grey color */
    font-size: 4rem;            /* Large font size */
    letter-spacing: 2px;        /* Add some space between letters */
    text-transform: uppercase;
}
footer {
    text-align: center;
    padding-top: 5px;
 }